<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="postBox">
			<div class="postBoxTop"></div>
			<div class="postBoxMid">
				<div class="postBoxMidInner first clearfix">
<table span class="border border-primary">
            <div class="row">
            <div class="col-md-6">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Blog entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- Se mete aquí el formato o donde?-->

      <tr>

    <% @posts.each do |post| %>
      
        <td><div class="bd-callout bd-callout-info">
        <div class="alert alert-success" role="alert"><h4>
        <%= post.title %></h4></td></div>
        <td><%= post.author %></td>
        <td><div class="alert alert-warning" role="alert"><%= post.blog_entry %></td></div>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

    <% end %>
    

</table>                    </div>
          </div>
  </tbody>
           </div>
           </div>
          </div>

<br>

<%= link_to 'New Post', new_post_path %>
