<% provide(:page_title, "All posts") %>


<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3><%= link_to post.title, post %></h3>
          </div>
          <div class="card-body">
            <label for=""><small class="text-muted"> Escrito por <%= link_to post.user.username, user_posts_path(name:post.user.username) %></small></label>
            <%= image_tag current_user.avatar.url, size:30 if current_user.avatar.url %></br> 
            <%= image_tag ("#{post.id}.jpg"), size:300 %>    
            <div class="form: {style: 'display:inline-block;'}">
              <div class="alert alert-success" role="alert", class="card-text"><%= sanitize post.blog_entry %></br></br>
                <div class="btn-group"> 
                  <p><%= button_to "Mostrar", post, :class => "btn btn-primary", :method => :get %></p>
                  <p><%= button_to "Editar", edit_post_path(post), :class => "btn btn-success", :method => :get %></p>
                  <p><%= button_to 'Borrar', post, :class => "btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></p>
                  <p><h6>Creado el día</h6><%= post.created_at %></p>
                </div></br>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
  <div>
  <br>
  <br>
<%= link_to 'New Post', new_post_path %>
</div>
<div>
<a href="https://www.embalses.net/embalse-883-la-vinuela.html">
  <img border="0" src="https://www.embalses.net/embalse-883-la-viñuela.html" 
  title="Embalses.net - Estado de los embalses y pantanos de España"/>
</a>
</div>